  <ul>
    <% @users.each do |user| %>
      <ul>
        <li><%= link_to user.username, user_path(user) %></li>
      </ul>
    <% end %>
  </ul>
  <%= link_to "Back to Dashboard", user_path(current_user) %>
